In [6]:
import pandas as pd 

tabla = pd.read_csv("ventas.csv", delimiter=";") #también se podía usar skiprows=numSkiped
tabla.shape
tabla.shape[0], tabla.shape[1]

(460, 7)

In [11]:
tabla = pd.read_csv("ventas.csv", delimiter=";") #también se podía usar skiprows=numSkiped
tabla.head()

,Fecha,Vendedor,Región,Artículo,Categoría,Unidades,Ganancia
0,1/1/2016,Steve Ashton,Norte,Medias Femeninas,Vestimenta,6,"18,00"
1,1/1/2016,Trevor Snodgrass,Oeste,Chocolate,Comestibles,8,"3,84"
2,1/1/2016,Sarah Bond,Sur,Gorras,Vestimenta,3,"6,30"
3,1/1/2016,Desmond Delaney,Sur,Sánguche de Queso,Comestibles,9,"14,40"
4,1/1/2016,Desmond Delaney,Este,Chocolate,Comestibles,14,"6,72"

In [12]:
tabla = pd.read_csv("ventas.csv", delimiter=";") #también se podía usar skiprows=numSkiped
tabla.tail()#numero de las

,Fecha,Vendedor,Región,Artículo,Categoría,Unidades,Ganancia
455,31/1/2016,Sarah Bond,Sur,Bufanda,Vestimenta,6,"16,50"
456,31/1/2016,Dustin Gee,Este,Sandalias,Vestimenta,11,"115,50"
457,31/1/2016,Dustin Gee,Este,Sánguche de Queso,Comestibles,4,"6,40"
458,31/1/2016,Dustin Gee,Norte,Escobillón,Hogar,8,"6,80"
459,31/1/2016,Trevor Snodgrass,Sur,Pepinillo,Comestibles,7,"2,10"