In [3]:
import pandas as pd 

data = pd.read_csv("ventas.csv", delimiter=";")
data

                                                    Fecha;Vendedor;Región;Artículo;Categoría;Unidades;Ganancia
1/1/2016;Steve Ashton;Norte;Medias Femeninas;Ve...                                                  0
1/1/2016;Trevor Snodgrass;Oeste;Chocolate;Comes...                                                 84
1/1/2016;Sarah Bond;Sur;Gorras;Vestimenta;3;6                                                      30
1/1/2016;Desmond Delaney;Sur;Sánguche de Queso;...                                                 40
1/1/2016;Desmond Delaney;Este;Chocolate;Comesti...                                                 72
...                                                                                               ...
31/1/2016;Sarah Bond;Sur;Bufanda;Vestimenta;6;16                                                   50
31/1/2016;Dustin Gee;Este;Sandalias;Vestimenta;...                                                 50
31/1/2016;Dustin Gee;Este;Sánguche de Queso;Com...                                                 40
31/1/2016;Dustin Gee;Norte;Escobillón;Hogar;8;6                                                    80
31/1/2016;Trevor Snodgrass;Sur;Pepinillo;Comest...                                                 10

[460 rows x 1 columns]

: